<html>

<head>
  <title>{{title}}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.js"></script>
  <script src="../public/javascripts/adminDash.js"></script>
  <link type="text/css" rel="stylesheet" href="../public/css/main.css">
  <link type="text/css" rel="stylesheet" href="../public/css/admin.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body onload="javascript:onStart()" ng-app="dash">
  <div class="navbar navbar-default fixed-top">
    <div class='n-item'>Admin Dashboard</div>
    <div class='n-item'>Welcome {{name}} (username:{{uid}}) Role: {{role}}</div>
    <a href="/logout"><button class='btn btn-outline-primary'>Logout</button></a>
  </div>
  <div class="container" ng-controller="ngContent">
    <div style="display: none;" id="predictionData"></div>
    <nav class="l_bar" align="center">
      <div id="togs">
        <div class="i_bar" id="act">
          <a ng-click="changeTab(0)" class="a_bar" href="javascript:bs(0)">Service Requests</a>
        </div>
        <div class="rightDivider"><a class="a_bar"> </a></div>
        <div class="i_bar">
          <a ng-click="changeTab(1)" class="a_bar" href="javascript:bs(1)">Admins</a>
        </div>
        <div class="i_bar">
          <a ng-click="changeTab(2)" class="a_bar" href="javascript:bs(2)">Users</a>
        </div>
        <div class="i_bar">
          <a ng-click="changeTab(3)" class="a_bar" href="javascript:bs(3)">Service Providers</a>
        </div>
      </div>
    </nav>

    <div id="content">

      <div id="contentTab0" ng-show="tab==0">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Name(User)</span>
          </div>
          <input list="1name" ng-model="req.user_id" type="text" class="form-control" placeholder="Name(User)">
          <div class="input-group-prepend">
            <span class="input-group-text">Provider Name</span>
          </div>
          <input list="1provider" ng-model="req.pname" type="text" class="form-control" placeholder="Provider Name">
          <div class="input-group-prepend">
            <span class="input-group-text">Service ID</span>
          </div>
          <input list="1service_id" ng-model="req.service_id" type="text" class="form-control" placeholder="Service ID">
          <button ng-click="getData(0)" class='btn btn-outline-primary'>Apply Filters</button>
        </div>
        <div style="display: none;" id="predictionData"></div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">RequestID</th>
                <th scope="col">User</th>
                <th scope="col">Provider</th>
                <th scope="col">ServiceID</th>
                <th scope="col">Status</th>
                <th scope="col">TimeStamp</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="it in req.data">
                <th scope="row">\{{$index}}</th>
                <td>\{{it.request_id}}</td>
                <td style="text-align: center;">\{{it.uname}}</td>
                <td style="text-align: center;">\{{it.pname}}</td>
                <td style="text-align: center;">\{{it.service_id}}</td>
                <td style="text-align: center;">\{{it.status}}</td>
                <td style="text-align: center;">\{{it.request_timestamp}}</td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>

      <div id="contentTab1" ng-show="tab==1">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">ID</span>
          </div>
          <input ng-model="admin.admin_id" type="text" class="form-control" placeholder="ID">
          <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
          </div>
          <input ng-model="admin.name" type="text" class="form-control" placeholder="Name">
          <div class="input-group-prepend">
            <span class="input-group-text">Role</span>
          </div>
          <input list="roles" ng-model="admin.role" type="text" class="form-control" placeholder="Role">
          <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
          </div>
          <input ng-model="admin.email" type="text" class="form-control" placeholder="E-Mail">
          <button ng-click="getData(1)" class='btn btn-outline-primary'>Apply Filters</button>
        </div>

        {{!-- Filters End --}}

        <h3 style="text-align: center;" ng-show="admin.status=='Pending'">Loading Data</h3>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">AdminID</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">E-Mail</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="it in admin.data">
                <th scope="row">\{{$index}}</th>
                <td>\{{it.admin_id}}</td>
                <td ng-hide="it.editMode" style="text-align: center;">\{{it.name}}</td>
                <td ng-hide="it.editMode" style="text-align: center;">\{{it.role}}</td>
                <td ng-hide="it.editMode" style="text-align: center;">\{{it.email}}</td>

                <td ng-show="it.editMode"><input required ng-model="it.name" class="form-control" value="\{{it.name}}"></td>
                <td ng-show="it.editMode"><input required ng-model="it.role" class="form-control" value="\{{it.role}}"></td>
                <td ng-show="it.editMode"><input ng-model-options="{ allowInvalid: true }" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" ng-model="it.email" class="form-control" value="\{{it.email}}"></td>
                <td>
                  <button ng-hide="it.editMode" ng-click="it.editMode=true"
                    class="btn btn-outline-primary butTab">Edit</button>
                  <button ng-show="it.editMode" ng-click="it.editMode=false;admin.updateRecord(it);"
                    class="btn btn-outline-primary butTab">Done</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <div id="contentTab2" ng-show="tab==2">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">ID</span>
          </div>
          <input list="uid" ng-model="user.user_id" type="text" class="form-control" placeholder="UserID">
          <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
          </div>
          <input list="1name" ng-model="user.name" type="text" class="form-control" placeholder="Name">
          <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
          </div>
          <input list="umail" ng-model="user.email" type="text" class="form-control" placeholder="Email">
          <div class="input-group-prepend">
            <span class="input-group-text">Phone No</span>
          </div>
          <input list="uphone" ng-model="user.phone_no" type="text" class="form-control" placeholder="Phone No">
          <div class="input-group-prepend">
            <span class="input-group-text">City</span>
          </div>
          <input list="locs" ng-model="user.city" type="text" class="form-control" placeholder="City">
          <button ng-click="getData(2)" class='btn btn-outline-primary'>Apply Filters</button>
        </div>

        {{!-- Filters End --}}

        <h3 style="text-align: center;" ng-show="user.status=='Pending'">Loading Data</h3>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 5%;">#</th>
                <th scope="col" style="width: 10%;">UserID</th>
                <th scope="col" style="width: 10%;">Name</th>
                <th scope="col" style="width: 25%;">Email</th>
                <th scope="col" style="width: 15%;">Phone No</th>
                <th scope="col" style="width: 10%;">City</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="it in user.data">
                <th scope="row">\{{$index}}</th>
                <td>\{{it.user_id}}</td>
                <td ng-hide="it.editMode" style="text-align: center;">\{{it.name}}</td>
                <td ng-hide="it.editMode" style="text-align: center;">\{{it.email}}</td>
                <td ng-hide="it.editMode" style="text-align: center;"> \{{it.phone_no}}</td>
                <td ng-hide="it.editMode" style="text-align: center;">\{{it.city}}</td>

                <td ng-show="it.editMode"><input required ng-model="it.name" class="form-control" value="\{{it.name}}"></td>
                <td ng-show="it.editMode"><input ng-model-options="{ allowInvalid: true }" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" ng-model="it.email" class="form-control" value="\{{it.email}}"></td>
                <td ng-show="it.editMode"><input ng-model-options="{ allowInvalid: true }" required pattern="([0-9]{10})|([0-9]{12})" ng-model="it.phone_no" class="form-control" value="\{{it.phone_no}}">
                </td>
                <td ng-show="it.editMode"><input required list="locs" ng-model="it.city" class="form-control" value="\{{it.city}}"></td>
                <td>
                  <button ng-show="(it.active=='Y') && !it.editMode" ng-click="it.editMode=true"
                    class="btn btn-outline-primary butTab">Edit</button>
                  <button ng-show="it.editMode" ng-click="user.updateRecord(it);"
                    class="btn btn-outline-primary butTab">Done</button>
                  <button ng-show="it.active=='Y'" ng-click="user.deactivateUser(it.user_id);"
                    class="btn btn-outline-danger butTab">Deactivate</button>
                  <button ng-show="it.active=='N'" ng-click="user.reactivateUser(it.user_id);"
                    class="btn btn-outline-danger butTab">Reactivate</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <div id="contentTab3" ng-show="tab==3">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">ID</span>
          </div>
          <input list="pid" ng-model="service_provider.service_provider_id" type="text" class="form-control"
            placeholder="HOT00000">
          <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
          </div>
          <input list="1provider" ng-model="service_provider.name" type="text" class="form-control" placeholder="Taj">
          <div class="input-group-prepend">
            <span class="input-group-text">Domain</span>
          </div>
          <input list="domain" ng-model="service_provider.domain" type="text" class="form-control" placeholder="Hotel">
          <div class="input-group-prepend">
            <span class="input-group-text">Active</span>
          </div>
          <input list="active" ng-model="service_provider.active" type="text" class="form-control" placeholder="Y">
          <div class="input-group-prepend">
            <button ng-click="getData(3)" class='btn btn-outline-primary'>Apply Filters</button>
          </div>
        </div>

        {{!-- Filters End --}}

        <h3 style="text-align: center;" ng-show="service_provider.status=='Pending'">Loading Data</h3>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" style="width: 15%;">ID</th>
                <th scope="col" style="width: 15%;">Name</th>
                <th scope="col" style="width: 15%;">Domain</th>
                <th scope="col" style="width: 10%;">Active</th>
                <th scope="col" style="width: 10%;">Approved</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="it in service_provider.data">
                <th scope="row">\{{$index}}</th>
                <td>\{{it.service_provider_id}}</td>
                <td ng-hide="it.editMode" style="text-align: center;">\{{it.name}}</td>
                <td ng-hide="it.editMode" style="text-align: center;">\{{it.domain}}</td>
                <td ng-hide="it.editMode" style="text-align: center;">\{{it.active}}</td>
                <td ng-hide="it.editMode" style="text-align: center;">\{{it.approved}}</td>

                <td ng-show="it.editMode"><input required ng-model="it.name" class="form-control" value="\{{it.name}}"></td>
                <td ng-show="it.editMode"><input ng-model-options="{ allowInvalid: true }" required pattern="^(?:[hH][Oo][tT][Ee][Ll]|[Rr][Ee]stau[Rr]ant|[Aa]i[Rr]lin[Ee]|[tT]axi [Pp][Rr]ovid[Ee][Rr]|[bB]us [pP][Rr]ovid[Ee][Rr]|[tT][Rr]ain [pP][Rr]ovid[Ee][Rr]|[gG]uid[Ee] [pP][Rr]ovid[Ee][Rr])$" ng-model="it.domain" class="form-control" value="\{{it.domain}}"></td>
                <td ng-show="it.editMode"><input ng-model-options="{ allowInvalid: true }" required pattern="^(?:Y|N)$" ng-model="it.active" class="form-control text-center"
                    value="\{{it.active}}"></td>
                <td ng-show="it.editMode"><input ng-model-options="{ allowInvalid: true }" required pattern="^(?:Y|N)$" ng-model="it.approved" class="form-control text-center"
                    value="\{{it.approved}}"></td>
                <td>
                  <button ng-show="(it.active=='Y') && !it.editMode" ng-click="it.editMode=true"
                    class="btn btn-outline-primary butTab">Edit</button>
                  <button ng-show="it.editMode" ng-click="service_provider.updateRecord(it);"
                    class="btn btn-outline-primary butTab">Done</button>
                  <button ng-show="it.active=='Y'" ng-click="service_provider.deactivateServiceProvider(it.service_provider_id);"
                    class="btn btn-outline-danger butTab">Deactivate</button>
                  <button ng-show="it.active=='N'" ng-click="service_provider.reactivateServiceProvider(it.service_provider_id);"
                    class="btn btn-outline-danger butTab">Reactivate</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>


    </div>
    <div data-delay="3000" class="toast info-toast shadow p-3 mb-5 bg-white rounded">
      <div style="font-size: 1.2em;" class="toast-header">
        Message
      </div>
      <div class="toast-body">
        <h5 id="toast_msg">Action Done</h5>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">Footer</div>
  </div>
</body>

</html>