<html>
    <head>
        <title>{{title}}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.js"></script>
        <script src="../public/javascripts/providerDash.js"></script>
        <link type="text/css" rel="stylesheet" href="../public/css/main.css">
        <link type="text/css" rel="stylesheet" href="../public/css/provider.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body ng-app="dash">
      <div class="navbar navbar-default fixed-top">
        <div class='n-item'>Service Provider Dashboard</div>
        <div class='n-item'>Welcome userID:<span id="idU">{{uid}}</span></div>
        <a href="/logout"><button class='btn btn-outline-primary'>Logout</button></a>
      </div>
    <div class="container" ng-controller="ngContent">
      <div id="padder"></div>
      <nav class="l_bar" align="center">
        <div id="togs">
          <div  class="i_bar" id="act">
          <a ng-click="changeTab(0)" class="a_bar" href="javascript:bs(0)">Booking Status</a>
          </div>
          <div class="rightDivider"><a class="a_bar"> </a></div>
          <div class="i_bar">
          <a ng-click="changeTab(1)" class="a_bar" href="javascript:bs(1)">Running Services</a>
          </div>
          <div class="i_bar">
          <a ng-click="changeTab(2)" class="a_bar" href="javascript:bs(2)">User Queries</a>
          </div>
        </div>
      </nav>

      <div id="sidebar">
        <div onclick="toggle_sidebar()" ng-click="toggle_sidebar" id="side-toggle"><strong>S</strong></div>
        <div id="side-content">
          <h3 style="text-align: center;">Content SideBar</h3>
        </div>
      </div>

      {{!-- <h3 style="text-align: center;">Current Tab:\{{tab}}</h3> --}}
      <div id="mainC" class="shadow p-4 mb-4 bg-white">
        <div id="content_tab0" ng-show="tab==0">
          <h5 style="text-align: center;">Service Requests</h5>


            <div id="table1" class="rowsCont card-rows">
              <div ng-repeat="it in reqs.data" class="rowElement card shadow p-4 mb-4 bg-white">
              <div class="card-header text-center bg-white align-middle">Request by \{{it.name}} at \{{it.timestamp.replace('T',' on ')}}</div>
              <div class="card-body text-center d-flex flex-row justify-content-between align-middle">
                <div>
                  <ul style="list-style-type: none;" ng-repeat="(k,v) in it">
                    <li ng-hide="k==updateResult">\{{k}} : \{{v}}</li>
                  </ul>
                </div>
                <div class="d-flex flex-column justify-content-around">
                  <div>
                    <h6>Change Status</h6>
                    <select ng-model="it.status" ng-change="changeStatus(it)"class="form-control">
                      <option>Pending</option>
                      <option>Accepted</option>
                      <option>Rejected</option>
                      <option>Completed</option>
                      <option>Paid</option>
                    </select>
                    <br><br>
                    <h6>Give User Rating (<span style="font-family: monospace;">\{{it.user_rating}}</span>)</h6>
                    <div class="input-group mb-3">
                    <input type="range" class="custom-range" min="0" max="5" class="form-control" ng-model="it.user_rating" ng-bind="it.user_rating">
                    {{!-- <input class="form-control" type="text" ng-model="it.user_rating" ng-bind="it.user_rating" style="text-align: center;"> --}}
                    </div>
                    <br>
                    <button ng-click="changeRating(it)" type="button" class="btn btn-primary">Update</button>
                  </div>
                    <h6>\{{it.updateResult}}</h6>
                </div>

              </div>
              </div>
            </div>

        </div>

        <div id="content_tab1" ng-show="tab==1">
          <div id="table1" class="rowsCont card-rows">
            <div class="rowElement card shadow p-4 mb-4 bg-white">
              <div class="d-flex flex-row justify-content-between">
                <button ng-click="addServiceForm()" class="btn btn-success d-flex align-items-center">Add New</button>
                <h6class="d-flex align-items-center">\{{currentServices.createStatus}}</h6>
              </div>
            </div>
            <div ng-show="currentServices.showNew" class="rowElement card shadow p-4 mb-4 bg-white">
              <div>
                <div style="margin: 10px;" class="newCard">

                  <div>
                    <div ng-repeat="e in currentServices.model.newModel" class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">\{{e.name}}</span>
                        <input ng-model="currentServices.newData[e.value]" ng-show="e.type==0" type="text" class="form-control">
                        <textarea ng-model="currentServices.newData[e.value]" ng-show="e.type==1" class="form-control"></textarea>
                        <input ng-show="e.type==2" ng-model="currentServices.newData[e.value]" type="text" class="form-control">
                        <input ng-show="e.type==4" ng-model="currentServices.newData[e.value]" type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  
                  <div ng-show="currentServices.model.route==true" style="padding-right:20px;border-right: 1px solid #DDD;">
                    <div style="text-align: center;">Route Definition: City Arrival Time</div>
                    <br>
                    <ul style="text-align: center;" class="list-group">
                      <li ng-repeat="step in currentServices.newData.routeData" class="list-group-item">
                        <div class="input-group-prepend">
                          <input ng-model="step.location_id_v" type="text" class="form-control" value="\{{step.location_id_v}}">
                          <input ng-model="step.arrival_time" type="text" class="form-control" value="\{{step.arrival_time}}">
                        </div>
                      </li>
                      <li class="list-group-item"><button ng-click="incrementRoute(currentServices.newData.routeData)" class="btn btn-success">+</button></li>
                    </ul>
                  </div>  

                </div>
                  
                <button ng-click="createService()" class="btn btn-success">Create</button>

              </div>
            </div>
            <div ng-repeat="it in currentServices.data" class="rowElement card shadow p-4 mb-4 bg-white">
              <div class="card-header text-center bg-white align-middle">\{{currentServices.model.header.name}} : \{{it[currentServices.model.header.value]}}</div>
                <div style="margin: 10px;" class="editCard">
                  <div style="border-right: 1px solid #DDD;padding-right:8px">
                  <h7>Edit Details</h7>
                  <br>
                  <label ng-repeat="v in currentServices.model.view">\{{v.name}} : \{{it[v.value]}}</label>
                  <div ng-repeat="e in currentServices.model.editable" class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">\{{e.name}}</span>
                      <input ng-model="it[e.value]" ng-show="e.type==0" type="text" class="form-control" value="\{{it[e.value]}}">
                      <textarea ng-model="it[e.value]" ng-show="e.type==1" class="form-control">\{  {it[e.value]}}</textarea>
                      <input ng-show="e.type==2" ng-model="it[e.display]" type="text" class="form-control" value="\{{it[e.display]}}">
                      <input type="text" class="form-control" ng-model="it[e.value]" ng-show="e.type==3" value="\{{it[e.value]}}">
                      <input ng-show="e.type==4" ng-model="it[e.display]" type="text" class="form-control" value="\{{it[e.display]}}">
                    </div>
                  </div>

                  </div> 

                  <div ng-show="currentServices.model.route==true" style="padding-right:20px;border-right: 1px solid #DDD;">
                    <div style="text-align: center;">Route Definition: City Arrival Time</div>
                    <br>
                    <ul style="text-align: center;" class="list-group">
                      <li ng-repeat="step in it.routeData" class="list-group-item">
                        <div class="input-group-prepend">
                          <input ng-model="step.location_id_v" type="text" class="form-control" value="\{{step.location_id_v}}">
                          <input ng-model="step.arrival_time" type="text" class="form-control" value="\{{step.arrival_time}}">
                        </div>
                      </li>
                      <li class="list-group-item"><button ng-click="incrementRoute(it.routeData)" class="btn btn-success">+</button></li>
                    </ul>
                  </div>                 

                  <div class="d-flex flex-column justify-content-center">
                    <br>
                    <button ng-click="updateService(it)" class="btn btn-primary">Update</button>
                    <br>
                    <button ng-click="deleteService(it)" class="btn btn-danger">Delete</button>
                    <br>
                    <h6>\{{it['updateResult']}}</h6>
                  </div>

                </div>
            </div>
          </div>
        </div>

        <div id="content_tab6" ng-show="tab==2">
          <h3>Content2</h3>
        </div>

      </div>
      

    </div>
    </body>

</html>