<html>
    <head>
        <title>{{title}}</title>
        <link type="text/css" rel="stylesheet" href="../public/css/main.css">
        <link type="text/css" rel="stylesheet" href="../public/css/provider.css">
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
      
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.js"></script>
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
        <script src="../public/javascripts/providerDash.js"></script>
    </head>
    <body ng-app="dash">
      <div class="navbar navbar-default fixed-top">
        <div class='n-item'>Service Provider Dashboard</div>
        <div class='n-item'>Welcome userID:<span id="idU">{{uid}}</span></div>
        <a href="/logout"><button class='btn btn-outline-primary'>Logout</button></a>
      </div>
    <div class="container" ng-controller="ngContent">
      <div id="padder"></div>
      <nav class="l_bar" align="center">
        <div id="togs">
          <div  class="i_bar" id="act">
          <a ng-click="changeTab(0)" class="a_bar" href="javascript:bs(0)">Booking Status</a>
          </div>
          <div class="rightDivider"><a class="a_bar"> </a></div>
          <div class="i_bar">
          <a ng-click="changeTab(1)" class="a_bar" href="javascript:bs(1)">Running Services</a>
          </div>
          <div class="i_bar">
          <a ng-click="changeTab(2)" class="a_bar" href="javascript:bs(2)">User Queries</a>
          </div>
          <div class="i_bar">
          <a ng-click="changeTab(3)" class="a_bar" href="javascript:bs(3)">Analysis</a>
          </div>        
        </div>
      </nav>


      {{!-- <h3 style="text-align: center;">Current Tab:\{{tab}}</h3> --}}
      <div id="mainC" class="shadow p-4 mb-4 bg-white">
        <div id="content_tab0" ng-show="tab==0">
          <h5 style="text-align: center;">Service Requests</h5>


            <div id="table1" class="rowsCont card-rows">
              <div ng-repeat="it in reqs.data" class="rowElement card shadow p-4 mb-4 bg-white">
              <div class="card-header text-center bg-white align-middle">Request by \{{it.name}} at \{{it.timestamp.replace('T',' on ')}}</div>
              <div class="card-body text-center d-flex flex-row justify-content-between align-middle">
                <div>
                  <ul style="list-style-type: none;" ng-repeat="(k,v) in it">
                    <li ng-hide="k==updateResult">\{{k}} : \{{v}}</li>
                  </ul>
                </div>
                <div class="d-flex flex-column justify-content-around">
                  <div>
                    <h6>Change Status</h6>
                    <select ng-model="it.status" ng-change="changeStatus(it)"class="form-control">
                      <option>Pending</option>
                      <option>Accepted</option>
                      <option>Rejected</option>
                      <option>Completed</option>
                      <option>Paid</option>
                    </select>
                    <br><br>
                    <h6>Give User Rating (<span style="font-family: monospace;">\{{it.user_rating}}</span>)</h6>
                    <div class="input-group mb-3">
                    <input type="range" class="custom-range" min="0" max="5" class="form-control" ng-model="it.user_rating" ng-bind="it.user_rating">
                    {{!-- <input class="form-control" type="text" ng-model="it.user_rating" ng-bind="it.user_rating" style="text-align: center;"> --}}
                    </div>
                    <br>
                    <button ng-click="changeRating(it)" type="button" class="btn btn-primary">Update</button>
                  </div>
                    <h6>\{{it.updateResult}}</h6>
                </div>

              </div>
              </div>
            </div>

        </div>

        <div id="content_tab1" ng-show="tab==1">
          <div id="table1" class="rowsCont card-rows">
            <div class="rowElement card shadow p-4 mb-4 bg-white">
              <div class="d-flex flex-row justify-content-between">
                <button ng-click="addServiceForm()" class="btn btn-success d-flex align-items-center">Add New</button>
                <h6class="d-flex align-items-center">\{{currentServices.createStatus}}</h6>
              </div>
            </div>
            <div ng-show="currentServices.showNew" class="rowElement card shadow p-4 mb-4 bg-white">
              <div>
                <div style="margin: 10px;" class="newCard">
                  <form id="newModelFrom">
                  <div>
                    <div ng-repeat="e in currentServices.model.newModel" class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">\{{e.name}}</span>
                        <input required ng-model="currentServices.newData[e.value]" ng-show="e.type==0" type="text" class="form-control">
                        <textarea required ng-model="currentServices.newData[e.value]" ng-show="e.type==1" class="form-control"></textarea>
                        <input required ng-show="e.type==2" ng-model="currentServices.newData[e.value]" type="text" class="form-control">
                        <input required ng-show="e.type==4" ng-model="currentServices.newData[e.value]" type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div ng-show="currentServices.model.route==true" style="padding-right:20px;border-right: 1px solid #DDD;">
                    <div style="text-align: center;">Route Definition: City Arrival Time</div>
                    <br>
                    <ul style="text-align: center;" class="list-group">
                      <li ng-repeat="step in currentServices.newData.routeData" class="list-group-item">
                        <div class="input-group-prepend">
                          <input required ng-model="step.location_id_v" type="text" class="form-control" value="\{{step.location_id_v}}">
                          <input required ng-model="step.arrival_time" type="text" class="form-control" value="\{{step.arrival_time}}">
                        </div>
                      </li>
                      <li class="list-group-item"><button ng-click="incrementRoute(currentServices.newData.routeData)" class="btn btn-success">+</button></li>
                    </ul>
                  </div>  
                </form>
                </div>
                  
                <button ng-click="createService()" class="btn btn-success">Create</button>

              </div>
            </div>
            <div ng-repeat="it in currentServices.data" class="rowElement card shadow p-4 mb-4 bg-white">
              <div class="card-header text-center bg-white align-middle">\{{currentServices.model.header.name}} : \{{it[currentServices.model.header.value]}}</div>
                <form id="editForm_\{{$index}}">
                <div style="margin: 10px;" class="editCard">
                  <div style="padding-right:8px">
                  <h7>Edit Details</h7>
                  <br>
                  <label ng-repeat="v in currentServices.model.view">\{{v.name}} : \{{it[v.value]}}</label>
                  <div ng-repeat="e in currentServices.model.editable" class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">\{{e.name}}</span>
                      <input required ng-model="it[e.value]" ng-if="e.type==0" type="text" class="form-control" value="\{{it[e.value]}}">
                      <textarea required ng-model="it[e.value]" ng-if="e.type==1" class="form-control">\{  {it[e.value]}}</textarea>
                      <input required ng-if="e.type==2" ng-model="it[e.display]" type="text" class="form-control" value="\{{it[e.display]}}">
                      <input required type="text" class="form-control" ng-model="it[e.value]" ng-if="e.type==3" value="\{{it[e.value]}}">
                      <input required ng-if="e.type==4" ng-model="it[e.display]" type="text" class="form-control" value="\{{it[e.display]}}">
                    </div>
                  </div>

                  </div> 

                  <div ng-if="currentServices.model.route==true" style="padding-right:20px">
                    <div style="text-align: center;">Route Definition: City Arrival Time</div>
                    <br>
                    <ul style="text-align: center;" class="list-group">
                      <li ng-repeat="step in it.routeData" class="list-group-item">
                        <div class="input-group-prepend">
                          <input required ng-model="step.location_id_v" type="text" class="form-control" value="\{{step.location_id_v}}">
                          <input required ng-model="step.arrival_time" type="text" class="form-control" value="\{{step.arrival_time}}">
                        </div>
                      </li>
                      <li class="list-group-item"><button ng-click="incrementRoute(it.routeData)" class="btn btn-success">+</button></li>
                    </ul>
                  </div>                 

                  <div class="d-flex flex-column justify-content-center">
                    <br>
                    <button ng-click="updateService(it,$index)" class="btn btn-primary mb-2">Update</button>
                    <button ng-click="deleteService(it)" class="btn btn-danger mt-2">Delete</button>
                    <br>
                    <h6 class="mt-2">\{{it['updateResult']}}</h6>
                  </div>

                </div>
                </form>
            </div>
          </div>
        </div>

        <div id="content_tab2" ng-show="tab==2">
          <h5>queries by users (sorted by last message sent)</h5>
          <div ng-repeat="(uid,it) in query.data" class="rowElement card shadow p-4 mb-4 bg-white" style="border:1px solid #999;">
              <div class="card-header shadow-sm p-3 mb-0 bg-white rounded">
                 <h5 style="display: inline-block;" class="modal-title" style="text-align: center;">\{{uid}} (ID: \{{uid}})</h5>
                 <a class="chatToggler" ng-click="toggleChat(uid)"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
              </div>
              <div ng-show="it.showChat" class="card-body chatBox">
                   <div class="row shadow pt-3 pb-3 mb-5 rounded justify-content-around">
                    <input class="col-7 form-control" ng-bind="query.newData[uid]" ng-model="query.newData[uid]" placeholder="your message">
                    <button class="col-3 btn btn-light" ng-click="sendMessage(uid)">Send</button>
                   </div>
                   <div class="row" ng-repeat="msg in it">
                        <div ng-if="msg.side=='U'" class="col-6 ml-4 shadow-sm p-3 mb-3 bg-light rounded">\{{msg.uname}} : \{{msg.query}} (posted at \{{msg.timestamp}})</div>
                        <div style="margin-left:50%!important" ng-if="msg.side=='S'" class="col-5 ml-4 shadow-sm p-3 mb-3 bg-light rounded">You: \{{msg.query}} (posted at \{{msg.timestamp}})</div>
                   </div>
              </div>
          </div>
        </div>


        <div id="content_tab3" ng-show="tab==3">
          <h3>Analyse your business</h3>
          <div class="mt-2" style="text-align: center;">
            <button class="btn btn-outline-primary btn-block" ng-show="!a1" ng-click="a1=true;analyseMaxServiceRequests();">Competitor Analysis of maximum services requests</button>
            <button class="btn btn-outline-primary btn-block" ng-show="a1" ng-click="a1=false;">Close Analysis</button>
            <h4 class="mt-2" ng-show="a1">Competitor Analysis of maximum services requests</h4>
            <table ng-show="a1" class="table mt-2">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">Service Provider ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Count</th>
                </tr>
              </thead>
              <tbody >
                <tr ng-repeat="it in analyse_max_service_requests.data"> 
                  <th> \{{it.rank_}} </th>
                  <th> \{{it.service_provider_id}} </th>
                  <th> \{{it.name}} </th>
                  <th> \{{it.count}} </th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mt-2" style="text-align: center;">
            <button class="btn btn-outline-primary btn-block" ng-show="!a2" ng-click="a2=true;analyseMaxRating();">Competitor Analysis of rating</button>
            <button class="btn btn-outline-primary btn-block" ng-show="a2" ng-click="a2=false;">Close Analysis</button>
            <h4 class="mt-2" ng-show="a2">Competitor Analysis of average rating given by Users to services</h4>
            <table ng-show="a2" class="table mt-2">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">Service Provider ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Average Rating</th>
                </tr>
              </thead>
              <tbody >
                <tr ng-repeat="it in analyse_max_rating.data"> 
                  <th> \{{it.rank_}} </th>
                  <th> \{{it.service_provider_id}} </th>
                  <th> \{{it.name}} </th>
                  <th> \{{it.rating}} </th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mt-2" style="text-align: center;">
            <button class="btn btn-outline-primary btn-block" ng-show="!a3" ng-click="a3=true;analyseMinQueryResponseTime();">Competitor Analysis of fastest response to queries</button>
            <button class="btn btn-outline-primary btn-block" ng-show="a3" ng-click="a3=false;">Close Analysis</button>
            <h4 class="mt-2" ng-show="a3">Competitor Analysis of fastest response to queries</h4>
            <table ng-show="a3" class="table mt-2">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">Service Provider ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Average Response Time (hours)</th>
                </tr>
              </thead>
              <tbody >
                <tr ng-repeat="it in analyse_min_query_response_time.data"> 
                  <th> \{{it.rank_}} </th>
                  <th> \{{it.service_provider_id}} </th>
                  <th> \{{it.name}} </th>
                  <th> \{{it.response_time}} </th>
                </tr>
              </tbody>
            </table>
          </div>          
          <div class="mt-2" style="text-align: center;">
            <button class="btn btn-outline-primary btn-block" ng-show="!a4" ng-click="a4=true;analyseUserByRegion();"> Analysis of Users Serviced by Region (User home city) </button>
            <button class="btn btn-outline-primary btn-block" ng-show="a4" ng-click="a4=false;">Close Analysis</button>
            <h4 class="mt-2" ng-show="a4">Analysis of Users Serviced by Region (User home city)</h4>
            <table ng-show="a4" class="table mt-2">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">State</th>
                  <th scope="col">City</th>
                  <th scope="col">Count</th>
                </tr>
              </thead>
              <tbody >
                <tr ng-repeat="it in analyse_user_by_region.data"> 
                  <th> \{{it.rank_}} </th>
                  <th> \{{it.state}} </th>
                  <th> \{{it.city}} </th>
                  <th> \{{it.count}} </th>
                </tr>
              </tbody>
            </table>
          </div>  
          <div class="mt-2" style="text-align: center;">
            <button class="btn btn-outline-primary btn-block" ng-show="!a5" ng-click="a5=true;analyseStatusOfRequests();"> Analysis of Requests by Status </button>
            <button class="btn btn-outline-primary btn-block" ng-show="a5" ng-click="a5=false;">Close Analysis</button>
            <h4 class="mt-2" ng-show="a5">Analysis of Requests by Status</h4>
            <table ng-show="a5" class="table mt-2">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">Status</th>
                  <th scope="col">Count</th>
                </tr>
              </thead>
              <tbody >
                <tr ng-repeat="it in analyse_status_of_requests.data"> 
                  <th> \{{it.rank_}} </th>
                  <th> \{{it.status}} </th>
                  <th> \{{it.count}} </th>
                </tr>
              </tbody>
            </table>
          </div>          
        </div>

      </div>
      
        <div data-delay="3000" class="toast info-toast shadow p-3 mb-5 bg-white rounded">
          <div style="font-size: 1.2em;" class="toast-header">
            Message
          </div>
          <div class="toast-body">
            <div id="toast_msg">Action Done</div>
          </div>
        </div>
    {{!-- Div controller end --}}
    </div>
    </body>

</html>